<ion-header>

  <ion-navbar>
    <button ion-button (click)="closeModal()" icon-left>
      <ion-icon name="return-left"></ion-icon>Back
      </button>
    <ion-title>New Comment</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <section id="feed_post">
    <div class="container">
      <div class="feed_post_area">
        <div *ngIf="user" class="feed_post_header">
          <app-user-tag ID="{{user.id}}" ImageURL="{{user.imageURL}}" Name="{{user.displayName}}"></app-user-tag>
        </div>
        <div class="post-top">
          &nbsp;
        </div>

        <div class="form-group">

          <ion-item>
            <ion-label><i class="fa fa-users"></i> Communities</ion-label>
            <ion-select [(ngModel)]="optionsModel" multiple="true">
              <ion-option  *ngFor="let item of userCommunities" value="{{item.id}}" [selected]="item.id == activeCommunity">{{item.name}}</ion-option>
            </ion-select>
          </ion-item>

          <button (click)="test()">test </button>
        </div>

        <div class="post-body">
          <div class="post-text">
            <textarea class="form-control textArea" rows="3" placeholder="Whats on your mind?" [(ngModel)]="postText"></textarea>
          </div>
        </div>

        <div class="form-group">

          <div class="fileUpload btn btn-primary" *ngIf="!videoSelected">
            <span><i class="fa fa-camera" aria-hidden="true"></i></span>
            <input type="file" class="upload" (change)="imageFileChange($event)" />
          </div>


          <div class="fileUpload btn btn-primary" *ngIf="!imageSelected">
            <span><i class="fa fa-video-camera" aria-hidden="true"></i></span>
            <input type="file" class="upload" (change)="videoFileChange($event)" />
          </div>

          <div class="fileUpload  pull-right"><button type="submit" class="btn btn-primary" [disabled]="isUploadingImage" (click)="post()">Go <i class="fa fa-check" aria-hidden="true"></i></button></div>
        </div>
        <div *ngIf="uploaded">Uploaded! ready to save</div>
      </div>
    </div>
  </section>

  <div *ngIf="isUploadingImage">
    <div id="loadingOverlay" class="loader-overlay">
      <div class="loader-content loader-center">
        Uploading Please wait!..


      </div>
    </div>

  </div>


</ion-content>